torch
transformers
sentence-transformers
Pillow
gradio
torchvision
easyocr
opencv-python
torch
Django==3.2.7
PyMuPDF==1.23.7
faiss-cpu==1.7.4
sentence-transformers==2.2.2
transformers==4.39.3
torch==2.1.0
numpy==1.24.2
